<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found!</title>
    <link rel="stylesheet" href="../public/index.css">
</head>
<body>
    <main>
        <section>
            <h1>404</h1>
            <h1>Page Or Resource Not Found!</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit blanditiis magnam nulla dolor reprehenderit atque provident. Maxime, fuga? Atque, harum.</p>
        </section>
    </main>
</body>
</html>