<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jsonresources-api</title>
    <link rel="stylesheet" href="../public/index.css" />
  </head>
  <body>
    <main>
      <section class="home-page">
        <h1>Welcome To Json Resources Api</h1>
        <p>
          This is a free online REST API that provides sampling json resources
          interactivity in form of JSON objects to provide effective resource
          sharing to all origins freely and handles all CRUD operations to help
          you test out your projects with json data fetching.
        </p>
        <a href="https://jsonresources-api.netlify.app/" target="_blank">Home Page</a>
      </section>
    </main>
  </body>
</html>
