* {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    transition: all 300ms;
}

:root {
    --primary-color: #0066ff;
    --primary-font-family: "Lilita One", sans-serif;
    --primary-font-family-two: "Winky Sans", sans-serif;
    --primary-font-family-three: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--primary-font-family-three)
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-thumb {
    width: .5em;
    background-color: hsl(0, 0%, 10%);
    border-radius: 10em;
}

h1, h2, h3 {
    font-family: var(--primary-font-family)
}

main {
    flex: 1 0 auto;
    min-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    min-height: 10vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    /* border: 1px solid red; */
}

nav>div[class="wrapper"] {
    min-height: 10vh;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    /* border: 1px solid red; */
    font-weight: bold;
}

header {
    min-height: 90vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border-bottom: 1px solid hsl(0, 0, 50%);
}

header div[class="wrapper"] {
    min-height: 90vh;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

header div[class="wrapper"] :is(h1) {
    font-size: 3em;
    font-weight: bold;
}

header div[class="wrapper"] :is(p) {
    font-size: 1em;
    font-weight: normal;
    color: hsl(0, 0, 10%);
    max-width: 60em;
}

header div[class="wrapper"] :is(a) {
    min-height: 1em;
    width: min(100%, 15em);
     display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header div[class="wrapper"] :is(a) > button {
    height: 3em;
    width: min(100%, 15em);
    background-color: #000;
    font-weight: normal;
    color: #fff;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}

/*  */
.site-developer-navigation-component {
    height: 4em;
    width: 15em;
    position: fixed;
    bottom: 2em;
    right: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    z-index: 3;
}

.site-developer-navigation-component>p {
    font-size: .9em;
    color: #000;
    font-weight: normal;
}

.site-developer-navigation-component>a :where(img) {
    height: 3em;
    width: 3em;
    border-radius: 100%;
}

/*  */
section[class="four-o-four"] {
    min-height: 90vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

/*  */
.not-found-page-container {
  min-height: 100vh;
  width: min(100%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* border: 1px solid red; */
}

.not-found-page-content {
  min-height: 80vh;
  width: min(90%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.not-found-page-title {
  font-size: 6rem;
  font-weight: bold;
  color: #000;
}

.not-found-page-prime-message {
  color: #4b5563;
  font-size: 1.5rem;
  font-weight: normal;
}

.not-found-page-message {
  color: #4b5563;
  font-size: .9em;
  max-width: 50em;
}

.not-found-page-link {
  color: var(--primary-theme-color);
  text-decoration: none;
  font-weight: 500;
  transition: text-decoration 0.2s;
}

.not-found-page-link:hover,
.not-found-page-link:focus {
  text-decoration: underline;
}

/*  */
footer {
    min-height: 15vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 0em;
    background-color: #000;
}

footer div {
    min-height: 10vh;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: .4em;
}

footer div p :where(a) {
    text-decoration-color: none;
    color: var(--primary-color);
}

footer div :is(p) {
    font-size: .9em;
    color: hsl(0, 0%, 90%);
    font-weight: normal;
}