<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found!</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <main>
        <section class="four-o-four">
            <h1>404</h1>
            <h1>Page Or Resource Not Found!</h1>
            <p>
                Sorry, we found nothing matching your request or query from our servers databases, try
                looking for something different to see if you get results.
            </p>
        </section>
    </main>
</body>
</html>