<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/photos/whatis_rest_api.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
      rel="stylesheet"
    />
    <meta name="developer" content="robert sims" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="developer"
      content="https://www.ssekabirarobertsims.netlify.app"
    />
    <meta name="application" content="json resources api" />
    <title>json resources rest api | Home - Main Page</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <nav class="navigation-bar-component">
      <div class="wrapper">
        <span>json resources api {}</span>
      </div>
    </nav>
    <header class="header-component">
      <div class="wrapper">
        <h1>THE ULTIMATE FREE STARTER JSON API FOR YOUR PROJECT.</h1>
        <p>
          Free json api to provide you with fake json data for free to be able
          to sample and test out your frontend and backend projects to handle
          fetching of data from a complete secure live free hosted source.
        </p>
        <a
          href="https://jsonresources-api.netlify.app/"
          target="_blank"
        >
          <button type="button">Get started</button>
        </a>
      </div>
    </header>
    <div
      class="site-developer-navigation-component"
      title="Get helped out by our expert software engineer about all your needs."
    >
      <p>Need some little help!</p>
      <a href="https://ssekabirarobertsims.netlify.app/" target="_blank">
        <img src="/ssekabirarobertsims-2.png" alt="" />
      </a>
    </div>
    <footer class="footer-component">
      <div class="wrapper">
        <p>
          Developed & engineered by
          <a href="https://ssekabirarobertsims.netlify.app/">ssekabira robert sims</a> software
          engineer
        </p>

        <p>&copy;right 2024 all rights reserved</p>
      </div>
    </footer>
  </body>
</html>
