<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/photos/whatis_rest_api.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="robert sims" />
    <meta name="developer" content="https://www.robertsims.netlify.app" />
    <meta name="application" content="json resources api" />
    <title>json resources rest api</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <nav class="navigation-bar-component">
      <div class="wrapper">
        <span>json resources api {}</span>
      </div>
    </nav>
    <header class="header-component">
      <div class="wrapper">
        <h1>THE ULTIMATE FREE STARTER JSON API FOR YOUR PROJECT.</h1>
        <p>
          Free json api to provide you with fake json data for free to be able
          to sample and test out your frontend and backend projects to handle
          fetching of data from a complete secure live free hosted source.
        </p>
        <a
          href="https://api-jsonresources-restapi.onrender.com"
          target="_blank"
        >
          Free api for testing out your projects!
        </a>
      </div>
    </header>
    <div
      class="site-developer-navigation-component"
      title="Get helped out by our expert software engineer about all your needs."
    >
      <p>Need some little help!</p>
      <a href="http://robertsims.netlify.app" target="_blank">
        <img src="/robertsims.jpg" alt="" />
      </a>
    </div>
    <footer class="footer-component">
      <div class="wrapper">
        <p>
          Developed & engineered by <a href="http://robertsims.netlify.app">robert sims</a> software engineer
          <p>&copy;right 2024 all rights reserved</p>
        </div>
    </footer>
  </body>
</html>
